<section class="main-content">
	<div class="section-body pt-4">
		<div class="row clearfix">
			<div class="row">
				<div class="col-xl-4 col-lg-4 col-md-12 col-sm-12" (click)="navigateClasses()">
					<p-card header="My Classes" [style]="{ border: '1px solid #e0e0e0', 'border-radius': '0' }">
						<i class="fas fa-chalkboard"></i>
						<!-- Add relevant icon -->
					</p-card>
				</div>
				<div class="col-xl-4 col-lg-4 col-md-12 col-sm-12" (click)="navigateLessons()">
					<p-card header="My Lessons" [style]="{ border: '1px solid #e0e0e0', 'border-radius': '0' }">
						<i class="fas fa-book"></i>
						<!-- Add relevant icon -->
					</p-card>
				</div>
				<div class="col-xl-4 col-lg-4 col-md-12 col-sm-12" (click)="navigateLessons()">
					<p-card header="Staff Leave" [style]="{ border: '1px solid #e0e0e0', 'border-radius': '0' }">
						<i class="fas fa-book"></i>
						<!-- Add relevant icon -->
					</p-card>
				</div>
				<div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 pt-5" (click)="navigateLessons()">
					<p-card header="Library" [style]="{ border: '1px solid #e0e0e0', 'border-radius': '0' }">
						<i class="fas fa-book"></i>
						<!-- Add relevant icon -->
					</p-card>
				</div>
				<div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 pt-5" (click)="navigateLessons()">
					<p-card header="Notices" [style]="{ border: '1px solid #e0e0e0', 'border-radius': '0' }">
						<i class="fas fa-book"></i>
						<!-- Add relevant icon -->
					</p-card>
				</div>
				<div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 pt-5" (click)="navigateLessons()">
					<p-card header="Documents" [style]="{ border: '1px solid #e0e0e0', 'border-radius': '0' }">
						<i class="fas fa-book"></i>
						<!-- Add relevant icon -->
					</p-card>
				</div>
			</div>
		</div>
	</div>
</section>
